.loginPage{
    // height: 100vh;        
    height: calc(100vh - 60px);
}
@media (max-height: 550px) {
    .loginPage{
        height: auto;        
        min-height: 500px;
    }
}

.logincard{
    box-shadow: 6px 6px 12px -6px rgba(0, 0, 0, 0.5);
}