<div class="loginPage">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-5 col-md-6 col-sm-10">
                <h3 class="text-center mb-3 text-primary">HRMS</h3>
                <div class="card logincard">               
                    <div class="card-body">
                        <div class="mb-4 myformInputs">
                            <label class="form-label">User Name</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="mb-4 myformInputs">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" />
                        </div>
                        <div class="mb-4 myformInputs">
                            <label class="form-label">User Role</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>